.background-image {
    background-image: url(./assets/colorful.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    min-height: 100vh;
    flex-grow: 1;
  
  }
  
  